
<%- include('partials/header') %>
<h1>PRODUCTS DETAILS</h1>
<h2>MOBILES</h2>
<div class="container">
    
    <% products.forEach(product => { %>
        <div class="product-card">
            <img src="<%= product.image %>" alt="">
            <h2><%= product.name %></h2>
            <p><strong>Price:</strong> $<%= product.price %></p>
            <p><%= product.description %></p>
            <a href="/products/<%= product.id %>">View Details</a>
        </div>
        
    <% }) %>
</div>


<%- include('partials/footer') %>
